{% extends 'main.html' %}
{% load static %}
{% block content %}
<style>
    .home {
        font-weight: bolder;
    }
</style>
<header class="bg-primary-gradient pt-5" style="margin-bottom: 29px;">
    <div class="container pt-4 pt-xl-5">
        <div class="row pt-5" style="background-color:  rgb(0, 151, 118); border-radius: 5px;color: white;">
            <div class="col-md-8 col-xl-6 text-center text-md-start mx-auto">
                <div class="text-center">
                    <h1 class="fw-bold" style="font-family: 'Rajdhani', sans-serif; font-size: 40px;"><b>The best
                            solution for a Recruiter & Employee</b></h1>
                    <br>
                    <br>
                </div>
            </div>
            <div class="col-12 col-lg-10 mx-auto" style="color: black; margin-bottom: 129px;">
                <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                    <div class="col">
                        <a href="{% url 'hire' %}">
                            <div class="card">
                                <div class="card-body p-4">
                                    <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center d-inline-block mb-3 bs-icon e"
                                        style="background-color: rgb(0, 151, 118);">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                                            <line x1="12" y1="5" x2="12" y2="19"></line>
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                        </svg>
                                    </div>
                                    <h4 class="card-title">Need Employee</h4>
                                    <p class="card-text">Erat netus est hendrerit, nullam et quis ad cras porttitor
                                        iaculis. Bibendum vulputate cras aenean.</p>
                                    <button class="button"
                                        style="border: none; background-color: rgb(0, 151, 118) ;color:white;padding: 10px 26px 10px 25px;border-radius: 7px;">Let's
                                        GO</button>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="{% url 'job' %}">
                            <div class="card">
                                <div class="card-body p-4">
                                    <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center d-inline-block mb-3 bs-icon"
                                        style="background-color: rgb(0, 151, 118) ;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-search">
                                            <circle cx="11" cy="11" r="8"></circle>
                                            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                        </svg>
                                    </div>
                                    <h4 class="card-title">Need Job</h4>
                                    <p class="card-text">Erat netus est hendrerit, nullam et quis ad cras porttitor
                                        iaculis. Bibendum vulputate cras aenean.</p>
                                    <button
                                        style="border: none; background-color: rgb(0, 151, 118) ;color:white;padding: 10px 26px 10px 25px;border-radius: 7px;">Let's
                                        GO</button>
                                </div>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center d-inline-block mb-3 bs-icon"
                                style="background-color: rgb(0, 151, 118) ;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-book-open">
                                    <path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path>
                                    <path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path>
                                </svg>
                            </div>
                            <h4 class="card-title">Learn With US</h4>
                            <p class="card-text">Erat netus est hendrerit, nullam et quis ad cras porttitor
                                iaculis. Bibendum vulputate cras aenean.</p>
                            <button
                                style="border: none; background-color: rgb(0, 151, 118);color:white;padding: 10px 26px 10px 25px;border-radius: 7px;">Let's
                                GO</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</header>
<section>
    <div class="container bg-primary-gradient py-5">
        <div class="row">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h3 class="fw-bold">If you have any confusion
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-corner-right-down">
                        <polyline points="10 15 15 20 20 15"></polyline>
                        <path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
                    </svg>
                </h3>
            </div>
        </div>
        <div class="py-5 p-lg-5">
            <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
                <div class="col mb-5">
                    <div class="card shadow-sm">
                        <div class="card-body px-4 py-5 px-md-5">
                            <div class="bs-icon-lg d-flex justify-content-center align-items-center mb-3 bs-icon"
                                style="top: 1rem;right: 1rem;position: absolute;"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-globe"
                                    style="color:rgb(0, 151, 118);">
                                    <circle cx="12" cy="12" r="10"></circle>
                                    <line x1="2" y1="12" x2="22" y2="12"></line>
                                    <path
                                        d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z">
                                    </path>
                                </svg></div>
                            <h5 class="fw-bold card-title">Explore This Platform&nbsp;</h5>
                            <p class="text-muted card-text mb-4">Erat netus est hendrerit, nullam et quis ad cras
                                porttitor iaculis. Bibendum vulputate cras aenean.</p><button class="btn shadow"
                                style="background-color: rgb(0, 151, 118); color:white;" type="button">Learn
                                more</button>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card shadow-sm">
                        <div class="card-body px-4 py-5 px-md-5">
                            <div class="bs-icon-lg d-flex justify-content-center align-items-center mb-3 bs-icon"
                                style="top: 1rem;right: 1rem;position: absolute;"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-user-plus"
                                    style="color: rgb(0, 151, 118)">
                                    <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="8.5" cy="7" r="4"></circle>
                                    <line x1="20" y1="8" x2="20" y2="14"></line>
                                    <line x1="23" y1="11" x2="17" y2="11"></line>
                                </svg></div>
                            <h5 class="fw-bold card-title">How To Create Account&nbsp;</h5>
                            <p class="text-muted card-text mb-4">Erat netus est hendrerit, nullam et quis ad cras
                                porttitor iaculis. Bibendum vulputate cras aenean.</p><button class="btn shadow"
                                style="background-color: rgb(0, 151, 118); color:white;" type="button">Learn
                                more</button>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card shadow-sm">
                        <div class="card-body px-4 py-5 px-md-5">
                            <div class="bs-icon-lg d-flex justify-content-center align-items-center mb-3 bs-icon"
                                style="top: 1rem;right: 1rem;position: absolute;"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-plus" style="color: #728FCE;">
                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                </svg></div>
                            <h5 class="fw-bold card-title">How To Hire Freelancer&nbsp;</h5>
                            <p class="text-muted card-text mb-4">Erat netus est hendrerit, nullam et quis ad cras
                                porttitor iaculis. Bibendum vulputate cras aenean.</p><button class="btn shadow"
                                style="background-color:rgb(0, 151, 118); color:white;" type="button">Learn
                                more</button>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card shadow-sm">
                        <div class="card-body px-4 py-5 px-md-5">
                            <div class="bs-icon-lg d-flex justify-content-center align-items-center mb-3 bs-icon"
                                style="top: 1rem;right: 1rem;position: absolute;"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-search"
                                    style="color: rgb(0, 151, 118);">
                                    <circle cx="11" cy="11" r="8"></circle>
                                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                </svg></div>
                            <h5 class="fw-bold card-title">How To Find Job&nbsp;</h5>
                            <p class="text-muted card-text mb-4">Erat netus est hendrerit, nullam et quis ad cras
                                porttitor iaculis. Bibendum vulputate cras aenean.</p><button class="btn shadow"
                                style="background-color: rgb(0, 151, 118); color:white;" type="button">Learn
                                more</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5 mt-5">
    <div class="container py-5">
        <div class="row mb-5">
            <div class="col-md-12 col-xl-12 text-center mx-auto">
                <h2 class="fw-bold"><strong>Categories <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" class="feather feather-corner-right-down">
                            <polyline points="10 15 15 20 20 15"></polyline>
                            <path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
                        </svg></strong></h2>
                <br>

                <style>
                    .categories>.sub>p:hover {
                        color: rgb(0, 151, 118);
                        cursor: pointer;

                    }
                </style>

                <div class="row categories" id="category">
                    <div class="col-md-3 sub">
                        <h5><b>Development</b></h5>
                        <br>
                        <p>Graphics Design</p>
                        <p>Android Development</p>
                        <p>Artificial Intelligent</p>
                        <p>Cyber Security</p>
                        <p>Desktop Application</p>

                    </div>
                    <div class="col-md-3 sub">
                        <h5><b>Writing</b></h5>
                        <br>
                        <p>Content Writing</p>
                        <p>Research Paper</p>
                        <p>Project Report Writting</p>
                        <p>Story Writting</p>
                        <p>Copyrighting</p>

                    </div>
                    <div class="col-md-3 sub">
                        <h5><b>Editing</b></h5>
                        <br>
                        <p>Video Editing</p>
                        <p>Photo Editing</p>
                        <p>Animation</p>
                        <p>Adobe Illustetor</p>
                        <p>Adobe XD</p>

                    </div>
                    <div class="col-md-3 sub">
                        <h5><b>Programming</b></h5>
                        <br>
                        <p>C</p>
                        <p>C++</p>
                        <p>Java</p>
                        <p>JavaScript</p>
                        <p>Python</p>

                    </div>
                </div>

            </div>

        </div>

    </div>
</section>
<section class="py-5">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 class="fw-bold">If You Have Any Questions <svg xmlns="http://www.w3.org/2000/svg" width="24"
                        height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" class="feather feather-corner-right-down">
                        <polyline points="10 15 15 20 20 15"></polyline>
                        <path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
                    </svg></h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 col-xl-4">
                <div>
                    <form class="p-3 p-xl-4" method="post">
                        <div class="mb-3"><input class="form-control" type="text" id="name-1" name="name"
                                placeholder="Name"></div>
                        <div class="mb-3"><input class="form-control" type="email" id="email-1" name="email"
                                placeholder="Email"></div>
                        <div class="mb-3"><textarea class="form-control" id="message-1" name="message" rows="6"
                                placeholder="Message"></textarea></div>
                        <div><button class="btn shadow d-block w-100"
                                style="background-color: rgb(0, 151, 118);color:white;" type="submit">Send </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4 col-xl-4 d-flex justify-content-center justify-content-xl-start">
                <div class="d-flex flex-wrap flex-md-column justify-content-md-start align-items-md-start h-100">
                    <div class="d-flex align-items-center p-3">
                        <div class="bs-icon-md bs-icon-circle bs-icon-primary shadow d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon bs-icon-md"
                            style="background-color: rgb(0, 151, 118);">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                viewBox="0 0 16 16" class="bi bi-telephone">
                                <path
                                    d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z">
                                </path>
                            </svg>
                        </div>
                        <div class="px-2">
                            <h6 class="fw-bold mb-0">Phone</h6>
                            <p class="text-muted mb-0">+123456789</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center p-3">
                        <div class="bs-icon-md bs-icon-circle bs-icon-primary shadow d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon bs-icon-md"
                            style="background-color: rgb(0, 151, 118);">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                viewBox="0 0 16 16" class="bi bi-envelope">
                                <path fill-rule="evenodd"
                                    d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z">
                                </path>
                            </svg>
                        </div>
                        <div class="px-2">
                            <h6 class="fw-bold mb-0">Email</h6>
                            <p class="text-muted mb-0">info@example.com</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center p-3">
                        <div class="bs-icon-md bs-icon-circle bs-icon-primary shadow d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon bs-icon-md"
                            style="background-color: rgb(0, 151, 118);">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                viewBox="0 0 16 16" class="bi bi-pin">
                                <path
                                    d="M4.146.146A.5.5 0 0 1 4.5 0h7a.5.5 0 0 1 .5.5c0 .68-.342 1.174-.646 1.479-.126.125-.25.224-.354.298v4.431l.078.048c.203.127.476.314.751.555C12.36 7.775 13 8.527 13 9.5a.5.5 0 0 1-.5.5h-4v4.5c0 .276-.224 1.5-.5 1.5s-.5-1.224-.5-1.5V10h-4a.5.5 0 0 1-.5-.5c0-.973.64-1.725 1.17-2.189A5.921 5.921 0 0 1 5 6.708V2.277a2.77 2.77 0 0 1-.354-.298C4.342 1.674 4 1.179 4 .5a.5.5 0 0 1 .146-.354zm1.58 1.408-.002-.001.002.001zm-.002-.001.002.001A.5.5 0 0 1 6 2v5a.5.5 0 0 1-.276.447h-.002l-.012.007-.054.03a4.922 4.922 0 0 0-.827.58c-.318.278-.585.596-.725.936h7.792c-.14-.34-.407-.658-.725-.936a4.915 4.915 0 0 0-.881-.61l-.012-.006h-.002A.5.5 0 0 1 10 7V2a.5.5 0 0 1 .295-.458 1.775 1.775 0 0 0 .351-.271c.08-.08.155-.17.214-.271H5.14c.06.1.133.191.214.271a1.78 1.78 0 0 0 .37.282z">
                                </path>
                            </svg>
                        </div>
                        <div class="px-2">
                            <h6 class="fw-bold mb-0">Location</h6>
                            <p class="text-muted mb-0">12 Example Street</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}